<div class="col-12 col-md-auto">
    <div class="d-flex flex-column flex-sm-row gap-3">
        <mwc-select class="mw-50 mb-2 mb-md-0" outlined="" label="View by">
            <mwc-list-item selected="" value="0">Order type</mwc-list-item>
            <mwc-list-item value="1">Segment</mwc-list-item>
            <mwc-list-item value="2">Customer</mwc-list-item>
        </mwc-select>
        <mwc-select class="mw-50" outlined="" label="Sales from">
            <mwc-list-item value="0">Last 7 days</mwc-list-item>
            <mwc-list-item value="1">Last 30 days</mwc-list-item>
            <mwc-list-item value="2">Last month</mwc-list-item>
            <mwc-list-item selected="" value="3">Last year</mwc-list-item>
        </mwc-select>
    </div>
</div>
