{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Project Manager</title>
    <!-- Load Favicon-->
    <link href="{% static 'assets/img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon"/>
    <!-- Load Material Icons from Google Fonts-->
    <link href="{% static 'assets/fonts/material/style.css' %}" rel="stylesheet"/>
    <!-- Load Simple DataTables Stylesheet-->
    <link href="{% static 'css/simple-datatables.min.css' %}" rel="stylesheet"/>
    <!-- Roboto and Roboto Mono fonts from Google Fonts-->
    <link href="{% static 'assets/fonts/roboto/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/fonts/roboto_mono/style.css' %}" rel="stylesheet"/>
    <!-- Load main stylesheet-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
</head>
<body class="nav-fixed bg-light">
<!-- Top app bar navigation menu-->
{% include 'core/layout/nav.html' %}
<!-- Layout wrapper-->
<div id="layoutDrawer">
    <!-- Layout navigation-->
    {% include 'core/layout/side_menu.html' %}
    <!-- Layout content-->
    <div id="layoutDrawer_content">
        <main>
            <!-- Page header-->
            <header class="bg-info">
                <div class="container-xl px-5">
                    <div class="text-white py-3 mb-0 display-5">
                        {% block page_title %}{% endblock %}
                        <div class="text-white-50 display-6 border-0">{% block page_description %}{% endblock %}</div>
                    </div>
                </div>
            </header>
            <div class="container-xl p-5">
                {% include 'core/components/messages.html' %}
                {% block content_header %}{% endblock %}
                <div class="card card-raised">
                    <div class="card-body text-center p-5">
                        {% block page_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        {% include 'core/layout/footer.html' %}
    </div>
</div>
<!-- Load Bootstrap JS bundle-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Load global scripts-->
<script type="module" src="{% static 'js/material.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<!--  Load Chart.js via CDN-->
{#<script src="{% static 'js/charts/chart.min.js' %}"></script>#}
<!--  Load Chart.js customized defaults-->
{#<script src="{% static 'js/charts/chart-defaults.js' %}"></script>#}
<!--  Load chart demos for this page-->
{#<script src="{% static 'js/charts/demos/chart-pie-demo.js' %}"></script>#}
{#<script src="{% static 'js/charts/demos/dashboard-chart-bar-grouped-demo.js' %}"></script>#}
<!-- Load Simple DataTables Scripts-->
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/datatables/datatables-simple-demo.js' %}"></script>
<!-- Customizer -->
<script src="{% static 'js/customizer.js' %}"></script>

</body>
</html>
